.modal {
  width: 100%;
  height: 100%;
  padding: 20px 40px;
  padding-right: 140px;

  overflow-y: scroll;

  background-color: #111;
  color: #fff;
  border: 0;

  &__info {
    width: 70%;

    h1 {
      font-size: 4rem;
      line-height: 4.5rem;
      margin: 30px 0;
    }

    p {
      font-size: 1rem;
      line-height: 1.6rem;
      margin: 10px 0;
    }

    b {
      display: block;
      margin-top: 20px;
      font-size: 0.9rem;
      color: $grayColor;
    }

    span {
      display: inline-block;
      padding: 2px 5px;
      font-weight: 700;
      border-radius: $borderRadius;
      background: $lightColor;
      color: #0b1014;
    }

    &__ratings {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      div {
        padding-right: 20px;
      }
    }

    &__plot {
      p {
        max-width: 80%;
      }
    }

    &__cgd {
      display: flex;

      div {
        width: 33.3%;
        padding-right: 40px;
      }
    }

    .heart {
      padding: 0 20px;
      border-radius: $borderRadius;
      border: solid 2px;

      &--true {
        color: $primaryColor;
        border-color: $primaryColor;
      }

      &--false {
        color: $grayColor;
        border-color: $grayColor;
      }
    }
  }

  &__image {
    width: 30%;
    height: 100vh;

    position: absolute;
    top: 0;
    right: 0;
    background-size: cover;
    z-index: 999;
  }

  &__back {
    outline: 0;
    cursor: pointer;
    display: block;
    margin-bottom: 25px;

    font-size: 1.4rem;
    border: 0;
    background: transparent;
    color: $grayColor;

    &:hover {
      color: $primaryColor;
    }
  }
}

.ReactModal__Body--open {
  overflow: hidden;
}
.ReactModal__Overlay--after-open {
  z-index: 9;
}

@media screen and(max-width: 763px) {
  .modal {
    padding: 20px;
    min-height: 100vh;
    height: auto;

    &__image {
      display: none;
    }
    &__info {
      width: 100%;

      .heart {
        position: absolute;
        top: 25px;
        right: 30px;

        p {
          display: none;
        }
      }
    }
  }

  .ReactModal__Overlay--after-open {
    overflow: scroll;
  }
}
