.modal {
  width: 100%;
  height: 100%;
  padding: 20px 40px;

  background-color: #111;
  color: #fff;
  border: 0;

  &__info {
    width: 60%;

    h1 {
      font-size: 4rem;
      line-height: 4.5rem;
      margin: 30px 0;
    }

    b {
      font-size: 0.8rem;
      color: $grayColor;
    }

    span {
      display: inline-block;
      padding: 2px 5px;
      font-weight: 700;
      border-radius: $borderRadius;
      background: #666666;
      color: #0b1014;
    }
  }

  &__image {
    img {
      width: auto;
      height: 100vh;

      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__back {
    outline: 0;
    cursor: pointer;
    display: block;
    margin-bottom: 25px;

    font-size: 1.4rem;
    border: 0;
    background: transparent;
    color: white;

    &:hover {
      color: $primaryColor;
    }
  }
}

.ReactModal__Body--open {
  overflow: hidden;
}
.ReactModal__Overlay--after-open {
  z-index: 9;
}

@media screen and(max-width: 763px) {
  .modal {
    padding: 20px 0;
    height: auto;

    &__image {
      display: none;
    }
    &__info {
      width: 100%;
    }
  }

  .ReactModal__Overlay--after-open {
    overflow: scroll;
  }
}
