form.search {
  display: flex;
  justify-content: center;

  input[type="text"] {
    width: calc(100% - 20px);
    height: 60px;
    padding: 5px 20px;

    border: solid 2px $lightColor;
    border-radius: $borderRadius;
    background: transparent;
    color: white;
    font-size: 1.4rem;

    background-image: url("../../assets/search.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center right 20px;

    transition: 0.2s;

    &:focus,
    &:hover {
      border-color: $primaryColor;
      box-shadow: 0px 0px 10px $primaryColor;
    }

    @media screen and(max-width:763px) {
      font-size: 0.95rem;
    }
  }
}
