// Formulário de busca
form.search {
  display: flex;
  justify-content: center;

  // Input do tipo texto
  input[type="text"] {
    width: calc(100% - 20px);
    height: 60px;
    padding: 5px 20px;

    border: solid 2px $lightColor;
    border-radius: $borderRadius;
    background: transparent;
    color: white;
    font-size: 1.4rem;

    // SVG da lupa
    background-image: url("../../assets/search.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center right 20px;

    transition: 0.2s;

    // Estilo quando passa o mouse ou clica no input.
    &:focus,
    &:hover {
      border-color: $primaryColor;
      box-shadow: 0px 0px 10px $primaryColor;
    }
  }

  h2 {
    margin: 0;
  }
}

// Diminui a fonte no dispositivo móvel e esconde o título.
@media screen and(max-width:763px) {
  form.search {
    input[type="text"] {
      font-size: 0.95rem;
    }

    h2 {
      display: none;
    }
  }
}
