.moviesContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.movie {
  width: calc(20% - 20px);
  height: 320px;
  margin: 10px;
  position: relative;

  overflow: hidden;
  border-radius: $borderRadius;

  img {
    width: 100%;
    height: 100%;
    transition: 0.2s;
  }

  .content {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px;

    b {
      font-size: 1.4rem;
    }

    p {
      margin: 5px 0;
    }
  }

  button {
    visibility: hidden;
    position: absolute;
    top: 20px;
    right: 20px;

    outline: 0;
    cursor: pointer;

    font-size: 1.2rem;
    border: 0;
    background: transparent;
    color: white;

    &:hover {
      animation: pulse 1s ease infinite;
      color: $primaryColor;
    }
  }

  .loved {
    color: $primaryColor;
    visibility: visible;

    &:hover {
      animation: none;
    }
  }

  &:hover {
    background-image: linear-gradient(transparent, #000);
    .content,
    button {
      visibility: visible;
    }
    img {
      opacity: 0.1;
      z-index: 10;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
