.moviesContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.movie {
  width: calc(20% - 20px);
  height: 320px;
  margin: 10px;
  
  position: relative;
  overflow: hidden;

  border-radius: $borderRadius;

  &__content {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px;

    b {
      font-size: 1.4rem;
    }

    p {
      margin: 5px 0;
    }    
  }

  &__openModal {
    @include btnTransparent; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;      
  }

  .heart {
    position: absolute;
    top: 20px;
    right: 20px;
    }

  button {
    visibility: hidden;
  }

  img {
    width: 100%;
    height: 100%;   
    transition: 0.2s;   
  }

  &:hover {
    background-image: linear-gradient(transparent, #000);

    .movie__content, button {
      visibility: visible;
    }

    img {
      opacity: 0.1;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
