@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

$primaryColor: #fd554d;
$secondaryColor: #0b1014;
$grayColor: #7b8c98;

$borderRadius: 3px;

@mixin btnTransparent {
  outline: 0;
  cursor: pointer;

  font-size: 1.2rem;
  border: 0;
  background: transparent;
  color: white;
  &:hover {
    color: $primaryColor;
  }
}

* {
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background: $secondaryColor;
  color: white;
  font-family: "Open Sans", sans-serif;
}

p,
a,
span {
  font-weight: 400;
}

b,
strong {
  font-weight: 700;
}

h1,
h2,
h3 {
  font-weight: 700;
}

.container {
  width: 100%;
  padding: 40px;
}

.containerFlex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.heart {
  @include btnTransparent;
  z-index: 2;

  &--false {
    &:hover {
      color: white;
      animation: pulse 1s ease infinite;
    }
  }

  &--true {
    visibility: visible !important;
    color: $primaryColor;

    &:hover {
      animation: none;
    }
  }
}

@import "./components/Loader/style";
@import "./components/Search/style";
@import "./components/NotFound/style";
@import "./components/Movie/style";
@import "./components/InfoModal/style";
